@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nunito+Sans:wght@600&family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./images/background-img.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: lightgray;
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
  margin-top: 40px;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
}

form button {
  color: black;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: lightgray;
  color: white;
}

.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list {
  min-width: 30%;
  list-style: none;
}

.task {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-task {
  padding: 1rem;
}

.task li {
  flex: 1;
}

.delete-btn,
.complete-btn {
  background: rgb(193, 39, 39);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(19, 146, 19);
}

.task-item {
  padding: 0rem 0.5rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
